
    def test_{{caseName}}(self):
        r=requests.request(
            "{{method}}",
            url="{{url}}",
            params={
                {{#params}}
                    {{.}}
                {{/params}}
            },
            json={
                {{#json}}
                    {{.}}
                {{/json}}
            },
            cookies={
                {{#cookies}}
                    {{.}}
                {{/cookies}}
            }
        )
        assert r.status_code == 200